*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", Roboto, Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;

    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;

    overflow-x: hidden;
    width: 100%;
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

.wrapped {
    overflow: hidden;
    position: relative;
}

.row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.link {
    color: #000;
    text-decoration: none;
    display: inline-block;
    position: relative;
    line-height: 1.2;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(125, 125, 125);
    transform: translateY(2px);
    transition: transform 0.2s ease;
}

.link:hover::after {
    transform: translateY(0px);
}

/* -========================================== MEDIA QUERY ======================================== */

@media only screen and (max-width: 992px) {
    .container {
        width: 90%;
    }
}
